.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
}
.pokemon-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size:large;
}
.pokemon-list li {
  padding:2px;
  margin-bottom: 7px;
  background-color: #8da086;
  color: #ffffff;
  width: 79px;
}
.pokemon-list li:hover {
  background-color: #698a96;
}
.content {
  display: flex;
}
ul,
#result {
  height: 100vh;
  background-color: #ccc;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 0 10px;
}
